<header>
    <nav>
        <div class="navBar">

            <div class="nLink">
                <img src="/static/img/6.png" alt="logo" style="width: 100px;">
                <a href="/" class="active" >Home</a>
                <a href="/item">About me</a>
                <a href="/contact">Contact</a>
            </div>

            <form action="/#">
                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="text" placeholder="Search.." name="search">
            </form>

        </div>
    </nav>
</header>